*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
	/*background-image: url("../b.jpg");
	background:cover;*/
	
}
body {
	font-weight: bold;
	/*background:rgba(0,0,0,0.5);*/
}
@keyframes breathe {
	0% {background:rgba(0,0,0,0.6);}
	from {background:rgba(0,0,0,0.6);}
	to {background:rgba(0,0,0,0.3);}
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}
.navbar {
	color:white;
	position:fixed;
	z-index:1;
	width:100%;
}
#header-nav {
	background:rgba(0,0,0,0.7);
	/*color:white;*/
	margin-bottom:0;
	font-size: 16px;
	font-weight: normal;
}
#header-nav>.container {
	padding:0;
	width:100%;
}
#nav-list a:hover, #nav-list a:active,  #logo:hover {
	background-color:transparent;
	/*color:#48dbfb;*/
	color:#52e052;
	transition: 0.5s;
}
#collapsable-nav {
	width:100%;
	text-align: center;
	font-weight:bold;
}
button.navbar-toggle, .icon-bar {
	border: 2px solid white;
}
button.navbar-toggle:hover, .icon-bar:hover {
	border: 2px solid #52e052;
	transition:0.5;
}
#home-container {
	background-image: url("../images/background2.jpg");
	background-size: cover;
	text-align: center;
	padding:0;
	color:white;
	width:100%;
	height:100vh;
	font-weight: none;
}
#dummy {
	width:100%;
	padding:0;
	animation: breathe 3s infinite;
	animation-direction: alternate;
	height:100vh;
}
#heading {
	padding-top:auto;
	padding-bottom:auto;
}
#heading>h1 {
	color: white;
	margin-top:20%;
	/*padding-top:50px;*/
	padding-bottom:50px;
}
#socials{
	padding-bottom:50px;
}
/*#socials .button{
	margin-left:25px;
	margin-right:25px;
}*/
#socials a{
	margin-left:25px;
	margin-right:25px;
}
.class2:hover {
	/*color: #48dbfb;*/
	color:#52e052;
	transform:scale(0.8);
	transition-timing-function: ease-in;
}
#about {
	width: 100%;
	background-color: white;
}
#about-text {
	color:black;
}
#about-text p {
	font-weight:normal;
	font-size:16px;
}
.mainheading {
	text-align: center;
	margin-top:50px;
	margin-bottom: 50px;
	color:green;
	font-weight: bold;
}
h2{
	margin-bottom:5px;
}
img {
  max-width: 100%;
  width:350px;
  height:250px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 15px;
}
#achievements {
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
}
#achievements section {
	border: 2px solid green;
	border-radius: 15px 15px 15px 15px;
}
#achievements section ul {
	margin-left:15px;
}
#skills, #education{
	color:white;
	width:100%;
	background-color:#383838;
	padding-bottom:50px;
}
#skills .mainheading, #education .mainheading {
	color:white;
}
#skills>div>ul>li {
	list-style-type: none;
	text-align:center;
	font-size:16px;
	margin-top:5px;
	margin-bottom:15px;
}
#education>div>h3 {
	text-align: center;
}
p {
	font-size: 16px;
	font-weight:bold;
}
#skills>div:hover, #education>div:hover{
	background-color:white;
	border-radius: 15px 15px 15px 15px;
	color:green;
	transition: 0.5s;
}
#hobbies h3 {
	color: green;
	text-align: center;
}
#hobbies>div>div>section{
	border: 2px solid green;
	border-radius: 15px 15px 15px 15px;
	margin-bottom:60px;
	min-height:185px;
	text-align: center;
}
#hobbies i {
	margin-top:15px;
}
#hobbies i:hover {
	color:#52e052;
	transition:0.5;
}
#photo {
	width:100%;
	height:250px;
	margin-top: 25px;
	margin-bottom:0;
	background: url("../images/photoback.jpg");
	background-size: cover;
	background-position:center;
	border-radius: 0 0 15px 15px;
}
#photo:hover {
	box-shadow: 0 1px 5px 1px #000000;
}
#clickme {
	color:white;
	background:rgba(0,0,0,0.7);
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
footer {
	color:white;
	background-color:#383838;
	text-align:center;
}
footer p {
	font-size: 16px;
	font-weight:normal;
}
#end-note p {
	margin-top:15px;
	font-style:italic;
}
#copyrights{
	margin-top:50px;
}
@media (min-width: 768px) {
	#hobbies .row {
		position: relative;
	}
	#games {
		position:absolute;
		margin-top:245px;
	}
	#clickme{
		width:100%;
	}
	#location, #connect {
		border-right: 1px solid white;
	}
}
@media (min-width: 401px) and (max-width: 767px) {
	#location, #connect {
		border-bottom: 1px solid white;
		padding-bottom:20px;
	}
}
@media (max-width: 400px) {
	#clickme{
		width:100%;
	}
	#location, #connect {
		border-bottom: 1px solid white;
		padding-bottom:20px;
	}
}
#image-img>div>img{
	width:100%;
	/*height:354px;*/
	height:100%;
	
}
#img-container {
	padding-top:50px;
}
